## Preprocessing

In [24]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [25]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop('EIN', axis=1, inplace=True)

In [26]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [27]:
name_count = application_df.NAME.value_counts()
name_count

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [28]:
name_count[name_count>100]

NAME
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
Name: count, dtype: int64

In [29]:
for name in name_count[name_count<6].index:
  application_df.NAME = application_df.NAME.str.replace(name, 'Others')

In [30]:
application_df.nunique()

NAME                      1236
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [31]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_counts = application_df.APPLICATION_TYPE.value_counts()
app_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [32]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_counts[app_counts<500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [33]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [34]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [35]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts[class_counts<500].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [36]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df, dtype='int')
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_A Others,NAME_A Others PLACE COMMUNITY DEVELOPMENT CORPORATION,NAME_AACE INTERNATIONAL,NAME_ACADEMICS PLUS CHARTER SCHOOL Others INC,NAME_ACADEMY OF Others,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACONA Others,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [37]:
# Split our preprocessed data into our features and target arrays
y = dummies_df.IS_SUCCESSFUL
X = dummies_df.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [38]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [58]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Assuming X_train_scaled and y_train are correctly defined and scaled
nn = Sequential([
    Dense(units=10, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(units=1, activation='sigmoid')
])

nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 10)                12810

 dense_8 (Dense)             (None, 1)                 11

=================================================================
Total params: 12821 (50.08 KB)
Trainable params: 12821 (50.08 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [46]:
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5719 - accuracy: 0.7581
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4471 - accuracy: 0.7919
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4313 - accuracy: 0.7954
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4255 - accuracy: 0.7973
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4232 - accuracy: 0.7996
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.8004
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.8015
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4190 - accuracy: 0.8029
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4172 - accuracy: 0.8019
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.8019
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.8035
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4140 - accuracy: 0.8037
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4134 - accuracy: 0.8042
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4126 - accuracy: 0.8038
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4126 - accuracy: 0.8048
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4118 - accuracy: 0.8052
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.8048
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4111 - accuracy: 0.8055
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4113 - accuracy: 0.8045
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8052
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4107 - accuracy: 0.8060
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4104 - accuracy: 0.8053
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4102 - accuracy: 0.8066
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4099 - accuracy: 0.8054
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4093 - accuracy: 0.8057
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4092 - accuracy: 0.8063
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4089 - accuracy: 0.8071
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4093 - accuracy: 0.8058
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4087 - accuracy: 0.8065
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4087 - accuracy: 0.8063
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4085 - accuracy: 0.8060
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8067
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4082 - accuracy: 0.8070
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4080 - accuracy: 0.8064
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4076 - accuracy: 0.8062
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4078 - accuracy: 0.8070
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4075 - accuracy: 0.8066
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4075 - accuracy: 0.8068
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8067
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4072 - accuracy: 0.8064
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4072 - accuracy: 0.8068
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4069 - accuracy: 0.8070
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4068 - accuracy: 0.8062
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4065 - accuracy: 0.8074
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4064 - accuracy: 0.8068
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4064 - accuracy: 0.8066
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4065 - accuracy: 0.8074
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4063 - accuracy: 0.8065
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4064 - accuracy: 0.8067
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4059 - accuracy: 0.8077
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4062 - accuracy: 0.8067
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4059 - accuracy: 0.8071
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4058 - accuracy: 0.8075
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4056 - accuracy: 0.8079
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4059 - accuracy: 0.8073
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4056 - accuracy: 0.8079
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4056 - accuracy: 0.8076
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4053 - accuracy: 0.8074
Epoch 59/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4054 - accuracy: 0.8071
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4052 - accuracy: 0.8075
Epoch 61/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4052 - accuracy: 0.8081
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4049 - accuracy: 0.8074
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4047 - accuracy: 0.8083
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4050 - accuracy: 0.8080
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8076
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8076
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4048 - accuracy: 0.8075
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8076
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4047 - accuracy: 0.8076
Epoch 70/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4046 - accuracy: 0.8078
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8078
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8081
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8080
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4041 - accuracy: 0.8088
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8090
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4044 - accuracy: 0.8082
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4037 - accuracy: 0.8076
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8078
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8088
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4037 - accuracy: 0.8082
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4037 - accuracy: 0.8079
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4037 - accuracy: 0.8085
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4037 - accuracy: 0.8081
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8084
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8084
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8087
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8084
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4034 - accuracy: 0.8087
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4035 - accuracy: 0.8085
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4033 - accuracy: 0.8086
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4033 - accuracy: 0.8088
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4033 - accuracy: 0.8087
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8080
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4029 - accuracy: 0.8083
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4033 - accuracy: 0.8084
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8078
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8085
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4031 - accuracy: 0.8089
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8087
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4024 - accuracy: 0.8087

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4665 - accuracy: 0.7882 - 502ms/epoch - 2ms/step
Loss: 0.4665428698062897, Accuracy: 0.7882215976715088

In [48]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(